.home {
    background-color: $primary-color;
    height: 100%;

    .container {
        height: 100%;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__title {
        color: $white;
        font-size: 20px;
    }
}
