.home {
    background-color: $primary-color;
    height: 100%;

    .container {
        height: 100%;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    &__title {
        color: $white;
        font-size: 20px;
    }

    &__btn {
        padding: 16px 32px;
        background-color: $white;
        color: $primary-color;
        border-radius: 8px;
        margin-top: 20px;
        font-size: 18px;
    }
}
