.login {
    background-color: $primary-color;
    height: 100%;
    padding-top: 80px;

    &__wrap {
        width: 100%;
        max-width: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        border-radius: 8px;
        margin: 0 auto;
        padding: 24px;

        @include media(768) {
            padding-inline: 12px;
        }
    }

    &__title {
        font-size: 28px;
        color: $black;
        text-align: center;

        @include media(1024) {
            font-size: 24px;
        }

        @include media(768) {
            font-size: 20px;
        }
    }
}
