.custom-alert-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-alert {
    background-color: $white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 200px;

    &__title {
        color: $black;
    }

    &__message {
        color: #666;
        margin-top: 8px;
    }
    &__btn {
        background-color: $primary-color;
        color: $white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        margin-top: 10px;
    }
}
