.login-form {
    margin-top: 24px;
    width: 100%;
    background-color: $white;

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    &__label {
        font-size: 16px;
        color: $black;
    }

    &__input {
        padding: 16px 20px;
        border-radius: 8px;
        font-size: 14px;
        border: 1px solid $primary-color;
        outline-color: $primary-color;
        outline-width: 3px;
    }

    &__error {
        font-size: 14px;
        color: #cc0000;
    }

    &__btn {
        padding: 16px 32px;
        background-color: $primary-color;
        width: 100%;
        color: $white;
        border-radius: 8px;
        margin-top: 12px;
        font-size: 18px;
        transition: background-color 0.3s ease-in-out;
        position: relative;

        &:disabled {
            color: transparent;
            &::after {
                border-top-color: $white;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 4px solid transparent;
            border-radius: 50%;
            border-top-color: transparent;
            animation: button-loading-spinner 1s ease infinite;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $primary-color-70;
            }
        }
    }
}

.button--loading::after {
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
